.about__header{
	margin-bottom: 15px;
}

.about__health,
.about__us,
.about__philosophy {
	margin-top: 30px;
}

.about__health p,
.about__us ul,
.about__philosophy p {
	margin-top: 20px;
}

.about__us ul{
	margin-left: 60px;
	list-style-type: square;
}

.about__philosophy{
	margin-bottom: 30px;
}
